@font-face {
    font-family: "bebasneue";
    src: url("../fonts/BebasNeue-Regular.eot");
    src: url("../fonts/BebasNeue-Regular.woff") format("woff"), url("../img/custom/fonts/BebasNeue-Regular.otf") format("opentype");
}

html {
    width: 100%;
    height: 100%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

body {
    background: white;
    color: black;
    font-family: Arial, sans-serif;
    font-weight: 200;
    padding: 0;
    overflow: hidden;
    margin: 0;
    position:relative;
}

.content {
    height: 100%;
    width: 100%;
    position: relative;
}

    /* colors: 
    E0E0E2
    81D2C7
    B5BAD0
    7389AE
    416788

        https://www.youtube.com/watch?v=iQ_Rzs8dNuk
*/
.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}
.content .left-nav {
    background-color: rgb(40,55,67);
    height: 100%;
    width: 15%;
    position: relative;
    float: left;
    transition: width 0.2s;
}

.content .contet-center {
    width: 85%;
    height: 100%;
    background-color: rgb(40,55,67);
    position: relative;
    float: right;
    transition: width 0.2s;
}

    .contet-center-full-width
    {
        width:92% !important;
    }
.nav-small-height {
    width: 8% !important;
}

    /*
    .nav-small-height .custom-text
    {
        width:0% !important;
    }
    .nav-small-height .custom-image {
        width: 100% !important;
    }
        */

    .topek {
        width: 100%;
        height: 8%;
        background-color: rgb(40,55,67);
        position: relative;
    }
.left-border {
    border-left: 1px solid rgb(64, 100, 129);
}

.centerek {
    height: 92%;
    width: 100%;
    background-color: white;
}
/*NAV start*/

.left-nav ul {
    font-family: "Barlow", sans-serif;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    overflow: auto;
}

    .left-nav ul li {
        width: 98%;
        height: 60px;
        position: relative;
    }

.custom-button {
    display: block;
    height: 100%;
    width: 100%;
    float: left;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
}

    .custom-button:hover {
        background-color: rgba(253,148,0,1);
        opacity:0.9;
    }
    .custom-button:active {
        background-color: rgb(255, 212, 151);
    }

.custom-image {
    height: 100%;
    width: 30%;
    float: left;
}

    .custom-image img {
        width: 30%;
        height: auto !important;
        z-index: 0;
        align-self: normal !important;
        background-size: auto;
        background-repeat: no-repeat;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
        .custom-image img svg {
            background: blue;
        }

.custom-text {
    width: 70%;
    float: left;
    position: relative;
    transform: translate(0px,-50%);
    margin: 0;
    vertical-align: middle;
    top: 50%;
    color: white;
}
.custom-menu-button {
    display: block;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    position: relative;
    transform: translate(0px,-50%);
    top: 50%;
    margin-left: 8px;
    cursor: pointer;
}
    .custom-menu-button img {
        width: 50%;
        height: auto !important;
        z-index: 0;
        align-self: normal !important;
        background-size: auto;
        background-repeat: no-repeat;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .custom-menu-button:hover {
        background-color: rgba(253,148,0,1);
        opacity: 0.9;
    }
    .custom-menu-button:active {
        background-color: rgb(255, 212, 151);
    }

.overlay {
    height: 0;
    width: 0;
    opacity: 0;
    transition: height 0ms, opacity 1000ms;
    z-index: 1;
    position: absolute;
}

.overlay-visible {
    height: 100% !important;
    width: 100% !important;
    background-color: rgba(0, 0, 0, 0.5);
    transition: height 0ms, opacity 600ms;
    opacity: 1;
    z-index: 1;
    position: absolute;
}

#overlay-close {
    color: white;
    display: block;
    position: absolute;
    margin: 10px;
    right: 0;
    top: 0;
    transition: background-color .3s linear;
    padding: 10px;
    background-color: rgba(255,255,255,0.2);
    cursor: pointer;
}
#overlay-close:hover{
    background-color:rgba(255,255,255,0.5);
}


.select-process-dialog {
    width: 50%; 
    height: 60%;
    background-color: white;
    position: absolute;
    z-index: 2;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
    border-radius: 3px;
}

.select-process-dialog-table {
    font-family: 'Arial';
    border-collapse: collapse;
    border: 1px solid #eee;
    border-bottom: 2px solid #00cccc;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.10), 0px 10px 20px rgba(0,0,0,0.05), 0px 20px 20px rgba(0,0,0,0.05), 0px 30px 20px rgba(0,0,0,0.05);
    max-height: 60%;
    width:auto;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    margin-bottom:5%;
    display: block;
    overflow: scroll;
    position: relative;
}

    .select-process-dialog-table tr {
        color: #555;
     
    }
        .select-process-dialog-table tr:hover {
            background: #f4f4f4;
        }

    .select-process-dialog-table th, td {
        color: #999;
        border: 1px solid #eee;
        padding: 12px;
        border-collapse: collapse;
    }

.select-process-dialog-table th {
    background: #00cccc;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    width:300px;
}

.select-process-dialog-table {
    display: block;
    overflow: scroll;
}

.select-process-dialog-button {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10px;
    margin-bottom: 5%;
    display: block;
    position: relative;
    background-color: #00cccc;
    color: #fff;
    max-width:25%;
    text-align:center;
    padding:10px;
    float:right;
}